 *{
    margin:0px;
    padding:0px;
}

body{
    height:100vh;
    background: linear-gradient( to bottom right,rgb(69, 147, 236), rgb(171, 2, 244)) no-repeat;
}

.container{

    background-color: white;
    margin:auto;
    margin-top: 100px;
    margin-bottom: 100px;
    max-width:400px;
    padding:20px;
    height:500px;
    border-radius:10px;
}

h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom:10px;
    font-size: 30px;

}

p{
    color:grey;
    margin-bottom:20px;
    font-size: 14px;
}

label{
    font-weight:600;
    line-height:1.8; 
}


input{
    width:100%;
    height:30px;
    border-radius:5px;
    border-color:rgba(225, 225, 225, 0.858) ;
}

select{
        width:100%;
        height: 30px;
        border-radius: 5px;
        padding:2px 7px;
        border-color: rgba(186, 186, 186, 0.886);
        

}

textarea{
    width:100%;
    border-radius:5px;
    min-height:90px;
    border-color: rgba(186, 186, 186, 0.886);
}

button{
    width:100%;
    background-color: rgb(114, 114, 255);
    color:white;
    height:30px;
    border-radius:5px ;
    border: none;
}

input::placeholder{
    padding-left:10px;
    
}

textarea::placeholder{

    padding-left:10px;
    padding-top:10px;
}
